*{
   margin: 0;
   padding: 0;
   
}
.header{
    min-height: 100vh;
    width: 100%;
    background-image: url(p);
    background-size: cover;
    background-attachment: fixed;
    background-size: contain;

}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    
}
nav img{
    
    margin-top: 1px;
    margin-right: 1px;   
}
.links{
    flex:10px;
    text-align: right;  
    
}
.links ul li{
    list-style: none;
    display: inline-block;
    padding: 8px 18px;
    position: relative;
}

.links ul li a{
  color: azure;
  text-decoration: none;
  font-size: 25px; 
  color:honeydew;
}
.links ul li ::after{
    content:'';
    width: 0%;
    height: 2px;
    background: black;
    display: block;
    margin: auto;
    transition: 0.5s;


}
.links ul li:hover::after{
    width: 100%;
}

}
.text{
 padding: 60;
 width: 50%;
 float: left;
 color: white;
 margin-left: 15

     
}
.text h1{
 font-size:40px;
  position: relative;
  left: 80;
   bottom: -67;
color: aliceblue;
    
}

.text h2{
 font-size:40px;
  position: relative;
  left: 140;
   bottom: -67;
    top: 1;
 color: aliceblue;
    
}
.pic{
    width:23 %;
    float: right;

   
    
}
.pic img{
    display: block;
    position: absolute;
    width: 100%;
    right: 8px;
    bottom: 3px;
    z-index: -3;
}